<a class="back-link" href="/additional/">Back to additional questions</a>


<div class="text">
  
  
  <h1 class="heading-xlarge">What options do you want to add for a parcel?</h1>
  
  
  <p>Enter your parcel reference number, a land use or feature and an area of land.</p>  
  

</div>


<form class="form-table" method="get" action="/submission/">
  
	<table>
  	
	  <caption class="visuallyhidden">Business plan execution results</caption>
		
		<thead>
  		
			<tr>
				<th scope="col">Parcel</th>
				<th scope="col">Land use</th>
				<th class="numeric" scope="col">Area</th>
				<th class="last" scope="col"><span class="visuallyhidden">Options</span></th>
			</tr>
			
		</thead>
		
		<tfoot>
  		
			<tr>
				
				<th scope="col" colspan="4"><a href="/">Add option</a></th>
				
			</tr>
			
		</tfoot>
		
		<tbody>
  		
  		
  		<!-- row 1 -->
			<tr>
				
				<th scope="row">  				
  				<label class="visuallyhidden" for="parcel-1">Parcel</label>  				
  				<input class="form-control" id="parcel-1" type="text" value="SJ8063_3931">  				
  		  </th>
  		  
				<td>  				
  				<label class="visuallyhidden" for="land-use-1">Land use</label>  				
  				<select class="form-control-select" id="land-use-1">
            <option value="1">Nectar flower mix</option>
            <option value="2">Flower-rich margins and plots</option>
            <option value="3">Two-year sown legume fallow</option>
            <option value="4">Autumn sown Bumblebird mix</option>
            <option value="5">Cultivated areas for arable plants</option>
            <option value="6">Winter Bird Food</option>
            <option value="7">Enhanced Overwinter Stubble</option>
            <option value="8">Basic Overwinter Stubble</option>
            <option value="9">Management of hedgerows</option>
            <option value="10" selected>Skylark plots</option>
            <option value="11">Management of ponds of high wildlife value (100 sq m or less)</option>
            <option value="12">Management of ponds of high wildlife value (more than 100 sq m)</option>
            <option value="13">Buffering in-field ponds and ditches on arable land</option>
            <option value="14">Management of ditches of high environmental value</option>
          </select>  				
				</td>				
				
				<td class="numeric">					
					<label class="visuallyhidden" for="land-area-1">Land area</label>					
					<input class="form-control" id="land-area-1" size="5" type="text" value="100m2">					
				</td>
				
				<td class="last"></td>
				
			</tr>
			
			
			<!-- row 2 -->
			<tr>
				
				<th scope="row">  				
  				<label class="visuallyhidden" for="parcel-2">Parcel</label>  				
  				<input class="form-control" id="parcel-2" type="text" value="SJ8063_4248">  				
  		  </th>
  		  
				
				<td>  				
  				<label class="visuallyhidden" for="land-use-2">Land use</label>  				
  				<select class="form-control-select" id="land-use-2">
            <option value="1">Nectar flower mix</option>
            <option value="2">Flower-rich margins and plots</option>
            <option value="3">Two-year sown legume fallow</option>
            <option value="4">Autumn sown Bumblebird mix</option>
            <option value="5">Cultivated areas for arable plants</option>
            <option value="6" selected>Winter Bird Food</option>
            <option value="7">Enhanced Overwinter Stubble</option>
            <option value="8">Basic Overwinter Stubble</option>
            <option value="9">Management of hedgerows</option>
            <option value="10">Skylark plots</option>
            <option value="11">Management of ponds of high wildlife value (100 sq m or less)</option>
            <option value="12">Management of ponds of high wildlife value (more than 100 sq m)</option>
            <option value="13">Buffering in-field ponds and ditches on arable land</option>
            <option value="14">Management of ditches of high environmental value</option>
          </select>  				
				</td>
				
				
				<td class="numeric">					
					<label class="visuallyhidden" for="land-area-2">Land area</label>					
					<input class="form-control" id="land-area-2" size="5" type="text" value="46m2">				
				</td>
				
				<td class="last">					
					<a href="#">Delete</a>								
				</td>
				
			</tr>
			
			
			<!-- row 3 -->
			<tr>
				
				<th scope="row">  				
  				<label class="visuallyhidden" for="parcel-3">Parcel</label>  				
  				<input class="form-control" id="parcel-3" type="text">  				
  		  </th>
  		  
				
				<td>  				
  				<label class="visuallyhidden" for="land-use-4">Land use</label>  				
  				<select class="form-control-select" id="land-use-4">
            <option value="1">Nectar flower mix</option>
            <option value="2">Flower-rich margins and plots</option>
            <option value="3">Two-year sown legume fallow</option>
            <option value="4">Autumn sown Bumblebird mix</option>
            <option value="5">Cultivated areas for arable plants</option>
            <option value="6">Winter Bird Food</option>
            <option value="7">Enhanced Overwinter Stubble</option>
            <option value="8">Basic Overwinter Stubble</option>
            <option value="9">Management of hedgerows</option>
            <option value="10">Skylark plots</option>
            <option value="11">Management of ponds of high wildlife value (100 sq m or less)</option>
            <option value="12">Management of ponds of high wildlife value (more than 100 sq m)</option>
            <option value="13">Buffering in-field ponds and ditches on arable land</option>
            <option value="14">Management of ditches of high environmental value</option>
          </select>  				
				</td>
				
				
				<td class="numeric">					
					<label class="visuallyhidden" for="land-area-4">Land area</label>					
					<input class="form-control" id="land-area-4" size="5" type="text">					
				</td>
				
				<td class="last">
  				<a href="#">Delete</a>
				</td>
				
			</tr>
			
			
		</tbody>
		
	</table>
	
	
	<!-- continue -->
  <div class="form-group">
    
    <input class="button" type="submit" value="Continue">

  </div>
	
	
</form>