<a class="back-link" href="/">Back to start</a>


<div class="text">
  
  
  <h1 class="heading-xlarge">Countryside Stewardship poposal</h1>
  
  
  <div class="alert-success" role="alert">

  	<span class="icon icon-tick" role="presentation"></span>

  	<div class="alert-message">
  		<p>Your Countryside Stewardship proposal has been received.</p>
  	</div>

  </div>
  

</div>


<section class="text">

	<h3 class="heading-medium">What happens next?</h3>

	<p>We've sent your application to the Rural Payments Agency.</p>

	<p>They will contact you, either to confirm your application or to ask for more information.</p>

	<p>If you have any questions about the application, contact the <abbr title="Rural Payments Agency">RPA</abbr>.</p>

</section>