<a class="back-link" href="/basic-eligibility/">Back to basic eligibility</a>


<div class="text">
  
  
  <h1 class="heading-xlarge">Basic eligibility</h1>
  
  
  <div class="alert-info" role="alert">

  	<span class="icon icon-tick" role="presentation"></span>

  	<div class="alert-message">
  		<p>Based on the information you have given us, you should be eligible to apply for Countryside Stewardship. Click 'next' to continue and submit a proposal.</p>
  	</div>

  </div>
  
  
  <p><a class="button" href="/additional/" role="button">Continue</a></p>
  

</div>