<a class="back-link" href="/basic-eligibility/">Back to basic eligibility</a>


<form class="form" method="get" action="/options/">


  <h1 class="form-title heading-xlarge">Additional questions</h1>


  <!-- is your land organic -->
  <div class="form-group form-group-compound">
  
    <fieldset class="inline">

      <legend class="form-label">Is your land organic?</legend>
  
      <div class="form-group">
  
        <label class="block-label" for="radio-inline-1">
          <input id="radio-inline-1" name="organic" value="Yes" type="radio"> Yes
        </label>
  
        <label class="block-label" for="radio-inline-2">
          <input id="radio-inline-2" name="organic" value="No" type="radio"> No
        </label>
  
      </div>
  
    </fieldset>
    
  </div>
  
  
  <!-- is your land used for livestock -->
  <div class="form-group form-group-compound">
  
    <fieldset class="inline">

      <legend class="form-label">Is your land used for livestock?</legend>
  
      <div class="form-group">
  
        <label class="block-label" for="radio-inline-3">
          <input id="radio-inline-3" name="livestock" value="Yes" type="radio"> Yes
        </label>
  
        <label class="block-label" for="radio-inline-4">
          <input id="radio-inline-4" name="livestock" value="No" type="radio"> No
        </label>
  
      </div>
  
    </fieldset>
    
  </div>
  
  
  <!-- what is your land type class -->
  <div class="form-group form-group-compound">
    
    <fieldset class="inline">

      <legend class="form-label">What is your land type class?</legend>
  
      <div class="form-group">
  
        <label class="block-label" for="radio-inline-5">
          <input id="radio-inline-5" name="landtype" value="Arable" type="radio"> Arable
        </label>
  
        <label class="block-label" for="radio-inline-6">
          <input id="radio-inline-6" name="landtype" value="Pastoral" type="radio"> Pastoral
        </label>
        
        <label class="block-label" for="radio-inline-7">
          <input id="radio-inline-7" name="landtype" value="Mixed" type="radio"> Mixed
        </label>
  
      </div>
  
    </fieldset>
    
  </div>
  
  
  <!-- continue -->
  <div class="form-group">
    
    <input class="button" type="submit" value="Continue">

  </div>
  

</form>